body {
	font-size: 100%;
	background: white;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .content > p,
.content > pre, .content > blockquote, .content ol, .content ul, .bullets > ul, .smbullets > ul,
.bullets ul ul > li, .commandline pre, .results, #tips, #preshow_timer  {
	font-size: 1em;
}

#preso {
	position:absolute;
	top:50%;
	height:720px;
	margin-top:-360px;
	box-shadow: none;
	width: 100%;
}

div.slide {
	width: 1280px;
	height: 680px;
	margin-left: auto;
	margin-right: auto;
	position: relative !important;
	box-shadow: none;
}

body {
	font-family: "Arial", sans-serif;
	color: #535353;
}

a, a:visited, a:active, a:hover {
	color: #535353;
	text-decoration: underline;
}

div.content {
	font-size: 2.2em;
}

div.smaller p,
div.smaller pre {
	font-size: 0.9em;
}

h1 {
	font-size: 1.2em;
	font-weight: bold;
}

ul > li {
	font-size: 1.0em;
}

.content > ul > li > ul > li {
	font-size: 0.95em;
}

.content > ul > li > ul > li  ul,
.content > ul > li > ul > li  ul li {
	font-size: 1em;
}

.content > p {
	text-align: left;
}

.quote > p {
    font-size: 1.3em;
    font-style: italic;
    padding-top: 40px;
    text-align: center;
    background: url("quote.png") no-repeat top left;
    padding: 50px;
}

div.content {
	padding: 10px 50px;
}

div.content {
	margin-top: 0px !important;
}

.bullets > ul > li {
	text-align: left;
	list-style-type: disc;
}

.bullets > ul > li > ul > li,
.bullets > ul > li > ul > li > ul > li > ul > li {
	list-style-image: url("dash.png");
}

.content ul li, .bullets ul li, .content ul, .content ul ul {
	padding: 0;
	margin: 0;
}

.content ul, .content ul ul {
	padding-left: 40px;
}

.content ul li {
	padding : 18px 0 0 10px;
}

.slide .center {
	display: inherit;
	height: inherit;
	vertical-align: inherit;
	width: inherit;
}

h1 {
	text-align: left;
	padding-bottom: 14px;
	border-bottom: 4px solid #267b42;
}

.subsection h1 {
	text-align: center;
	padding: 0;
	font-size: 1.5em;
	margin: 250px 80px 0;
	border-bottom: none;
	background: inherit;
	color: inherit;
}

#footer,
#copyright {
    height: 720px;
	margin: 0;
    margin-top: -360px;
    position: absolute;
    top: 50%;
	width: 100%;
	padding: 0;
	background: url("footer.png") no-repeat bottom;
}

#copyright {
	font-size: 0.9em;
}

#copyright, #footer {
	z-index: 1;
}

#footer > span, #copyright > span {
	display: block;
	position: relative;
	top: 680px;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#copyright > span {
	top: 693px;
	left: 10px;
}

#slideInfo {
	color: white;
	display: block;
	padding: 10px 0px 0px 40px;
	font-size: 1.4em;
}

div.cover {
	background: url("cover.png") no-repeat top;
	height: 720px;
}

.cover > h1 {
	border: none;
	color: white;
	font-weight: normal;
	text-align: center;
	padding-top: 310px;
	font-size: 1.5em;
}

.cover > h2, .cover > p {
	color: white;
	font-size: 0.8em;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
}

#notesInfo {
	padding: 10px;
	color: white;
	position: relative;
	top: -50px;
	font-style: italic;
}

.footnote {
    font-size: 0.6em;
    display: block;
    position: absolute;
    top: 630px;
    font-style: italic;
}

pre.conffile {
	background: #DDDDDD;
	padding: 10px;
	margin-left: 120px;
	margin-right: 120px;
}

del {
	color: red;
}
